extends ../layout.pug

block content
    #wrapper.container
        #main.row
            h1 Free Software User Groups in India
            #mapid
            p
                |Free Software Community of India is a collective of Free Software (sometimes also called as Open Source Software) users, advocates and developers.
                |We maintain communication and collaboration infrastructure for everyone that respects their freedom and privacy.
                |We maintain a list of Free Software communities and offer sub domains of fsug.in or fosscommunity.in.
                |We depend on donations and community manpower to run the infrastructure.
                |We mentor Free Software enthusiasts to become Free Software contributors.
                |We provide GNU/Linux installation and configuration support mainly via online messaging groups.
            p
                |Join our 
                a(href='https://matrix.to/#/#fsci:matrix.org', target='__blank') matrix chat room
                |.
            p
                |If you need a subdomain or want to list your community here please 
                a(href='mailto:fosscommunity.in@disroot.org') mail to FSCI
                | with sufficient details of your community.
            #improve
                a(href='https://gitlab.com/fsug/fsug.gitlab.io', target='_blank')
                    img(src='img/code.png')
                    span  Improve this page
