doctype
html(lang='en')
    head
        include ./templates/head_inwrapper
        include ./templates/meta_seo
        title Free Software Community of India (FSCI)
        include ./templates/css
        include ./templates/meta_favicons
    body
        block content
        include ./templates/js
